<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Project!</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
</head>

<body>
  <header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
          <div class="nav-wrapper">
              <div id="menu">
              <ul class="nav navbar-nav "></ulclass>
              <li><a href="aboutUs.html">About Us</a></li>
              <li><a href="index.html">Monthly Mathematicians</a></li>
              <li><a href="female.html">Female Mathematicians</a></li>
              <li>Contact</li>
          </ul>
        </div> 
      </div> 
    </div> 
  </nav>
</header>
