<!DOCTYPE html>
<html lang="en">

  {% include "header.html" %}

  {% if user %}
    <h1>Hello {{ user }}!</h1>
  {% else %}
    <h1>Hello!</h1>
  {% endif %}

  <form action="/newpage" method="post"> 
        <div>
          <label for="name">Name:</label>
          <input type="text" id="name" name="user_name" />
        <div>
        <div>
          <label for="day">Date of birth (0-31):</label>
          <input type="number" id="day" name="user_day" />
        </div>
        <div>
          <label for="month">Month:</label>
          <input list="months" name="user_month">
          <datalist id="months">
              <option value="January">
              <option value="February">
              <option value="March">
              <option value="April">
              <option value="May">
              <option value="June">
              <option value="July">
              <option value="August">
              <option value="September">
              <option value="October">
              <option value="November">
              <option value="December">
          </datalist>
        </div>
        <input type="submit" value="Send!">
      </form>

  </body>
  
  </html>