<!DOCTYPE html>
<html lang="en">
  {% include "header.html" %}

<body>
    <h1>Welcome to our famous mathematicians website!</h1>
    <p> If you’re passionate about maths and want to know what famous mathematician you share a birth month with then look no further! Our website also contains a bit about famous female mathematicians, a demographic often overlooked.</p>
    <p>

        Thank you for visiting!
        
        </p>
        <h2>Emily Butler</h2>
        <p>
        
        Hi, I’m Emily and I’m a third year Mathematics student at the University of Sheffield. I enjoy rowing.
        
        </p>
        <h2>Emily Dunn</h2> 
        <p>
        
        Hi, I’m Emily and I’m a third year Mathematics student at the University of Sheffield. I enjoy walks by the sea in Newcastle.
        
        </p>
        <h2>Charlotte Fisher</h2>
        <p>
        
        Hi, I’m Charlotte and I’m a third year Mathematics and Statistics student at the University of Sheffield. I enjoy triathlons and chocolate.
        
        </p>
</body>